

/* Start:/bitrix/components/bitrix/search.page/templates/suggest/style.css?1707436891163*/
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
/* End */


/* Start:/bitrix/components/bitrix/search.suggest.input/templates/.default/style.css?1707436891501*/
input.search-suggest {}
div.search-popup{border: 1px solid #333333;background: #FFFFFF;padding: 2px;margin: 0px;}
div.search-popup-row, div.search-popup-row-active{position: relative; padding: 2px 4px;margin: 0px;cursor: hand;cursor: pointer;}
div.search-popup-row{background:#FFFFFF;}
div.search-popup-row-active{background:#EEEEEE;}
div.search-popup-el-name, div.search-popup-el-cnt{position: relative; margin:0px;padding:0px;text-align:left;}
div.search-popup-el-cnt{text-align:right; float:right;}
/* End */
/* /bitrix/components/bitrix/search.page/templates/suggest/style.css?1707436891163 */
/* /bitrix/components/bitrix/search.suggest.input/templates/.default/style.css?1707436891501 */
