

/* Start:/bitrix/components/bitrix/search.page/templates/icons/style.css?1707436891163*/
a.search-page-params {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
div.search-page-params {
	margin-top: 6px;
}
.search-item-rate {font-size: 11px;}
/* End */
/* /bitrix/components/bitrix/search.page/templates/icons/style.css?1707436891163 */
